// Primary Colors and Fonts
$font-main: 'Roboto', sans-serif;
$red-color : #e21820;
$black-color: #141414;
$white-color: #fcfcfc;

// font-family: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// font & headers styling starts here

h1 {}

// font & headers styling end here

// navbar starts here

#id {
    width: 200px;
}

// navbar ends here