// Primary Colors and Fonts
$font-main: 'Roboto', sans-serif;
$red-color : #e21820;
$black-color: #141414;
$white-color: #dddddd;
$grey-color: #7c7052;

// font-family: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $black-color;
    font-family: $font-main;
    font-weight: 400;
}

// font & headers styling starts here

h1 {}

// font & headers styling end here

// navbar starts here

header {
    background-image: url('../img/netflix-home.jpg');
    min-height: 48vw;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    padding-top: 5px;
    max-width: 10rem;
}

nav {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    display: flex;
    color: $white-color;
    justify-content: space-between;
    padding: 1.2rem;
}

.menu {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

li {
    margin: 0 1rem 0 1rem;
    font-size: 1.2rem;
}

li:hover {
    color: white;
    cursor: pointer;
}

.member-area {
    float: right;
    display: flex;
    align-items: center;
}

#login {
    margin-left: 3rem;
    margin-right: 3rem;
}

.icon {
    font-size: 1.5rem;
}

// navbar ends here

// content starts here

.movie-title {
    font-family: $font-main;
    font-size: 6.5rem;
    font-weight: 700;
    font-style: italic;
    color: white;
    line-height: 1.1;
}

.movie-subtitle {
    max-width: 600px;
    font-family: $font-main;
    font-size: 1.6rem;
    color: white;
    line-height: 1.4;
    padding-bottom: 2rem;
}

section {
    padding-left: 5rem;
}

.hero {
    padding-top: 14rem;
}

#play-btn {
    color: $black-color;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    margin-right: 1.5rem;
    cursor: pointer;
}

#play-btn:hover {
    background-color: $black-color;
    color: white;
}

#more-info-btn {
    background-color: $grey-color;
    color: $white-color;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#more-info-btn:hover {
    background-color: $red-color;
    color: white;
}

// content end here